

.button {
    -fx-background-color: skyblue;
    -fx-border-color: gray;
    -fx-text-fill: black;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-border-color: gray;
}

.text-field {
    -fx-border-color: gray;
    -fx-alignment: center;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
}